<div class="card border-primary mb-3" style="margin-left: 30rem;">
  <div class="card-header">Tarifas</div>
  <div class="card-body">
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" routerLink="/tarifasForm"> Agregar Tarifas</button>
    </div>
    <div *ngIf="suscriptores?.length==0" class="alert alert-info">
      No hay Tarifas en la base de datos!
    </div>
    <h5 class="card-title">Listado de Tarifas</h5>
    <table class="table table-bordered table-striped" *ngIf="tarifas?.length>0">
      <thead>
        <tr>
          <th>Id</th>
          <th>Valor</th>
          <th>Descripción</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarifa of tarifas | paginate: { itemsPerPage: 7, currentPage: pageActual}">
          <td >{{tarifa.id}} </td>
          <td>{{tarifa.valorTarifa | currency}}</td>
          <td>{{tarifa.descripcion}}</td>
          <td class="row">
            <button type="button" class="btn btn-info" [routerLink]="['/tarifasForm/form',tarifa.id]">
              <span class="glyphicon glyphicon-pencil"></span>Editar
            </button>
            <button type="button" class="btn btn-danger" (click)="eliminar(tarifa)">
              <span class="glyphicon glyphicon-remove"></span>Eliminar
            </button>
            <button class="btn btn-outline-primary" (click)="open(tarifa)">
              <span class="glyphicon glyphicon-eye-open"></span>Historial Tarifa
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
  </div>
</div>