<div class="card fixed">
  <div class="card-header">
    <legend class="text-center header" *ngIf="!editar else EditarTitulo">Agregar Tarifa</legend>

    <ng-template #EditarTitulo>
      <legend class="text-center header">Editar Tarifa</legend>
    </ng-template>
  </div>
  <div class="card-body">

    <!-- Sirve para validar el formulario -->
    <form #tarifaForm="ngForm">
      <div class="form-group row">
        <label for="valorTarifa" class="col-form-label col-sm-4" style="text-align: right">Valor Tarifa</label>
        <div class="col-sm-6">
          <input id="valor" name="valor" required currencyMask [(ngModel)]="tarifa.valorTarifa"
            [options]="{prefix: '$', thousands: ',', decimal: '.', precision: '0'}"
            class="form-control" #valor="ngModel">
          <!-- Div exterior para saber si hay errores, divs interiores para mostrar cada uno de los errores -->
          <div class="alert alert-danger" *ngIf="valor.invalid && (valor.dirty || valor.touched)">
            <div *ngIf="valor.errors.required">
              <small>Valor es requerido</small>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="descripcion" class="col-form-label col-sm-4" style="text-align: right">Descripción</label>
        <div class="col-sm-6">
          <input id="descripcion" name="descripcion" type="text" required [(ngModel)]="tarifa.descripcion"
            #descripcion="ngModel" class="form-control">
          <!-- Div exterior para saber si hay errores, divs interiores para mostrar cada uno de los errores -->
          <div class="alert alert-danger" *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
            <div *ngIf="descripcion.errors.required">
              <small>Descripción es requerida</small>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-primary btn-lg" (click)='onSubmit()' [disabled]="!tarifaForm.form.valid"
            *ngIf="!editar else elseBlock">Guardar</button>

          <ng-template #elseBlock>
            <button type="submit" class="btn btn-primary btn-lg" (click)='update()'
              [disabled]="!tarifaForm.form.valid">Editar</button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>