<div class="card fixed">
  <div class="card-header">
    <legend class="text-center header" *ngIf="!editar else EditarTitulo">Agregar Predio</legend>

    <ng-template #EditarTitulo>
      <legend class="text-center header">Editar Predio</legend>
    </ng-template>
  </div>
  <div class="card-body">

    <form class="" method="post">

      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-4" style="text-align: right">Número Catastral</label>
        <div class="col-sm-6">
          <input id="numeroMatricula" name="numeroMatricula" type="text" required [(ngModel)]="predio.numeroMatricula" placeholder="Número Catastral"
            class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-4" style="text-align: right">Nombre</label>
        <div class="col-sm-6">
          <input id="nombre" name="nombre" type="text" required [(ngModel)]="predio.nombre"
            placeholder="Nombre" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-4" style="text-align: right">Estrato</label>
        <div class="col-sm-6">
          <input id="estrato" name="estrato" type="number" required [(ngModel)]="predio.estrato" placeholder="Estrato"
            class="form-control" min="1" max="6">
        </div>
      </div>

      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-4" style="text-align: right">Latitud</label>
        <div class="col-sm-6">
          <input id="latitud" name="latitud" type="text" required [(ngModel)]="predio.latitud" placeholder="Latitud"
            class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-4" style="text-align: right">Longitud</label>
        <div class="col-sm-6">
          <input id="longitud" name="longitud" type="text" required [(ngModel)]="predio.longitud" placeholder="Longitud"
            class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <label for="region" class="col-form-label col-sm-4" style="text-align: right">Seleccione Vereda</label>
        <div class="col-sm-6">
          <select class="form-control" [(ngModel)]="predio.lugar" name="lugar">
            <option [ngValue]="undefined">--- selecionar Vereda ---</option>
            <option *ngFor="let lugar of lugares" [ngValue]="lugar">{{lugar.nombre}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="region" class="col-form-label col-sm-4" style="text-align: right">Seleccione Suscriptor</label>
        <div class="col-sm-6">
          <select class="form-control" [(ngModel)]="predio.suscriptor" name="suscriptor">
            <option [ngValue]="undefined">--- selecionar Suscriptor ---</option>
            <option *ngFor="let suscriptor of suscriptores" [ngValue]="suscriptor">{{suscriptor.nombre}}  {{suscriptor.apellido}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-primary btn-lg" (click)='onSubmit()'
            *ngIf="!editar else elseBlock">Guardar</button>
          <ng-template #elseBlock>
            <button type="submit" class="btn btn-primary btn-lg" (click)='update()'>Editar</button>
          </ng-template>
        </div>
      </div>
      
    </form>

  </div>
</div>