<div class="col-md-12 card border-primary">
  <div class="card-header">Predios</div>
  <div class="card-body">
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" routerLink="/prediosform"> Crear Predios</button>
    </div>
    <div *ngIf="predios?.length===0" class="alert alert-info">
      No hay Predios en la base de datos!
    </div>
    <h5 class="card-title">Listado de Predios</h5>
    <table class="table table-bordered table-striped" *ngIf="predios?.length>0">
      <thead>
        <tr>
          <th>Número Matricula</th>
          <th>Nombre</th>
          <th>Estrato</th>
          <th>Latitud</th>
          <th>Longitud</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let predio of predios | paginate: { itemsPerPage: 7, currentPage: pageActual}">
          <td>{{predio.numeroMatricula}}</td>
          <td>{{predio.nombre}}</td>
          <td>{{predio.estrato}}</td>
          <td>{{predio.latitud}}</td>
          <td>{{predio.longitud}}</td>
          <td class="predio">
            <button type="button" class="btn btn-info mx-2" [routerLink]="['/prediosForm/form',predio.numeroMatricula]">
              <span class="glyphicon glyphicon-pencil"></span>Editar
            </button>
            <button type="button" class="btn btn-danger mx-2" (click)="eliminar(predio)">
              <span class="glyphicon glyphicon-remove"></span>Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
  </div>
</div>