<div class="card fixed">
  <div class="card-header">
    <legend class="text-center header" *ngIf="!editar else EditarTitulo">Agregar Predio</legend>

    <ng-template #EditarTitulo>
      <legend class="text-center header">Editar Predio</legend>
    </ng-template>
  </div>
  <div class="card-body">

    <form #predioForm="ngForm">

      <!-- FALTA LA VALIDACIÓN PARA QUE ACEPTE UN NÚMERO CATASTRAL VÁLIDO -->
      <div class="form-group row">
        <label for="numeroMatricula" class="col-form-label col-sm-4" style="text-align: right">Número Catastral</label>
        <div class="col-sm-6">
          <input id="numeroMatricula" name="numeroMatricula" type="text" required [(ngModel)]="predio.numeroMatricula"
            #numeroMatricula="ngModel" class="form-control">
          <!-- Div exterior para saber si hay errores, divs interiores para mostrar cada uno de los errores -->
          <div class="alert alert-danger py-0"
            *ngIf="numeroMatricula.invalid && (numeroMatricula.dirty || numeroMatricula.touched)">
            <div *ngIf="numeroMatricula.errors.required">
              <small>Número de Matrícula del predio es requerido</small>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-4" style="text-align: right">Nombre</label>
        <div class="col-sm-6">
          <input id="nombre" name="nombre" type="text" required [(ngModel)]="predio.nombre" #nombre="ngModel"
            class="form-control">
          <!-- Div exterior para saber si hay errores, divs interiores para mostrar cada uno de los errores -->
          <div class="alert alert-danger py-0" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf="nombre.errors.required">
              <small>Nombre de predio es requerido</small>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="estrato" class="col-form-label col-sm-4" style="text-align: right">Estrato</label>
        <div class="col-sm-6">
          <input id="estrato" name="estrato" type="number" required [(ngModel)]="predio.estrato" #estrato="ngModel"
            class="form-control" min="1" max="6">
          <!-- Div exterior para saber si hay errores, divs interiores para mostrar cada uno de los errores -->
          <div class="alert alert-danger py-0" *ngIf="estrato.invalid && (estrato.dirty || estrato.touched)">
            <div *ngIf="estrato.errors.required">
              <small>El estrato del predio es requerido</small>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-4" style="text-align: right">Latitud</label>
        <div class="col-sm-6">
          <input id="latitud" name="latitud" type="text" required [(ngModel)]="predio.latitud" #latitud="ngModel"
            class="form-control">
          <div class="alert alert-danger py-0" *ngIf="latitud.invalid && (latitud.dirty || latitud.touched)">
            <div *ngIf="latitud.errors.required">
              <small>El componente de latitud es requerido</small>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-4" style="text-align: right">Longitud</label>
        <div class="col-sm-6">
          <input id="longitud" name="longitud" type="text" required [(ngModel)]="predio.longitud" #longitud="ngModel"
            class="form-control">
          <div class="alert alert-danger py-0" *ngIf="longitud.invalid && (longitud.dirty || longitud.touched)">
            <div *ngIf="longitud.errors.required">
              <small>El componente de longitud es requerido</small>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="vereda" class="col-form-label col-sm-4" style="text-align: right">Vereda</label>
        <div class="col-sm-6">
          <!-- con [compareWith] -->
          <select [compareWith]="compararVereda" class="form-control" required [(ngModel)]="predio.vereda"
            name="vereda">
            <!-- <option [ngValue]="undefined">Seleccione Vereda</option> -->
            <option *ngFor="let vereda of veredas" [ngValue]="vereda">{{vereda.nombre}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="suscriptor" class="col-form-label col-sm-4" style="text-align: right">Suscriptor</label>
        <div class="col-sm-6">
          <select [compareWith]="compararSuscriptor" class="form-control" required [(ngModel)]="predio.suscriptor"
            name="suscriptor">
            <!-- <option [ngValue]="undefined">Seleccione Suscriptor</option> -->
            <option *ngFor="let suscriptor of suscriptores" [ngValue]="suscriptor">{{suscriptor.nombre}}
              {{suscriptor.apellido}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]="'satellite'"
            (mapClick)="placeMarker($event)" style="height: 300px">
            <agm-marker [latitude]="predio.latitud" [longitude]="predio.longitud">
            </agm-marker>
          </agm-map>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-primary btn-lg" (click)='onSubmit()' *ngIf="!editar else elseBlock"
            [disabled]="!predioForm.form.valid">Guardar</button>
          <ng-template #elseBlock>
            <button type="submit" class="btn btn-primary btn-lg" (click)='update()'
              [disabled]="!predioForm.form.valid">Editar</button>
          </ng-template>
        </div>
      </div>

    </form>

  </div>
</div>