<detalle-predio *ngIf="predioSeleccionado" [predio]=predioSeleccionado></detalle-predio>
<div class="col-md-12 card">
  <div class="card-header">Predios</div>
  <div class="card-body">
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" routerLink="/prediosform">Crear Predio</button>
    </div>
    <div class="card-header">
      <div class="row">
        <div class="col-sm-5 mt-3">
          <h5 class="card-title">Listado de Predios</h5>
        </div>
        <div class="col-sm-6">
          <div class="d-flex flex-row-reverse">
            <app-filter-predios (changed)="filter($event)"></app-filter-predios>
          </div>
        </div>
        <div class="col-md-1 mt-3">
          <i class="fa fa-search fa-lg"></i>
        </div>
      </div>
    </div>
    <div *ngIf="predios?.length===0" class="alert alert-info">
      No hay Predios en la base de datos!
    </div>
    <table class="table table-bordered table-striped" *ngIf="predios?.length>0">
      <thead>
        <tr>
          <th>Número Matricula</th>
          <th>Nombre</th>
          <th>Estrato</th>
          <th>Vereda</th>
          <!--<th>Estado</th>-->
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let predio of prediosFiltrados | paginate: { itemsPerPage: 7, currentPage: pageActual}">
          <td>{{predio.numeroMatricula}}</td>
          <td>{{predio.nombre}}</td>
          <td>{{predio.estrato}}</td>
          <td>{{predio.vereda.nombre}}</td>
          <!--<td>{{predio.estado}}</td>-->
          <td class="predio">
            <button *ngIf="authService.hasRole('ROLE_ADMIN')" type="button" class="btn btn-info mx-2"
              [routerLink]="['/prediosForm/form',predio.numeroMatricula]">
              <span class="glyphicon glyphicon-pencil"></span>Editar
            </button>
            <button *ngIf="authService.hasRole('ROLE_ADMIN')" type="button" class="btn btn-danger mx-2"
              (click)="eliminar(predio)">
              <span class="glyphicon glyphicon-remove"></span>Eliminar
            </button>
            <button type="button" class="btn btn-success mx-2" (click)="abrirModal(predio)">
              Info
            </button>
          </td>
        </tr>
        <tr *ngIf="!prediosFiltrados || !prediosFiltrados.length">
          <td colspan="6">No hay predios</td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-sm-9">
        <pagination-controls (pageChange)="pageActual = $event" *ngIf="predios?.length != 0">
        </pagination-controls>
      </div>
      <div class="col-sm-3">
        Número de Predios: {{ prediosFiltrados.length }}
      </div>
    </div>
    <div class="footter" id="map">
      <div class="card-header" data-toggle="collapse" data-target="#verMapa">
        <h5 class="text-primary">Ver ubicación de todos los predios</h5>
      </div>
      <div id="verMapa" class="collapse" data-parent="#map">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]="'hybrid'"
                style="width:100%;height:600px">
                <agm-marker *ngFor="let predio of predios" [latitude]="predio.latitud" [longitude]="predio.longitud">
                    <agm-info-window>
                      <h4>{{predio.nombre}}</h4>
                      <h6>{{predio.suscriptor.nombre}} {{predio.suscriptor.apellido}}</h6>
                    </agm-info-window>
                  </agm-marker>
              </agm-map>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>