<div class="col-md-12 card">
    <div class="card-header">Lugares</div>
    <div class="card-body">
        <div *ngIf="authService.hasRole('ROLE_ADMIN')" class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" routerLink="/lugarForm">Crear Lugar</button>
        </div>
        <div *ngIf="suscriptores?.length==0" class="alert alert-info">
            No hay Lugares en la base de datos!
        </div>
        <div>
            <h5 class="card-title">Listado de Lugares</h5>
            <table class="table table-bordered table-striped" *ngIf="lugares?.length>0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th *ngIf="authService.hasRole('ROLE_ADMIN')"> Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let lugar of lugares | paginate: { itemsPerPage: 7, currentPage: pageActual}">
                        <td>{{lugar.id}}</td>
                        <td>{{lugar.nombre}}</td>
                        <td *ngIf="lugar.tipo === 'V'">Vereda</td>
                        <td *ngIf="lugar.tipo === 'M'">Municipio</td>
                        <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                            <button type="button" class="btn btn-info mx-2" [routerLink]="['/lugar/form',lugar.id]">
                                <span class="glyphicon glyphicon-pencil"></span>Editar
                            </button>
                            <button type="button" class="btn btn-danger mx-2" (click)="eliminar(lugar)">
                                <span class="glyphicon glyphicon-remove"></span>Eliminar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
        </div>
    </div>
</div>