<div class="card">
    <h5 class="card-header">Reportes</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">group</i>
                        </div>
                        <h3 class="card-title">
                            <small>Suscriptores inscritos</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">list</i>
                            <a href='http://localhost:8080/suscriptores/reportes/todos'>Ver Reporte</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">group</i>
                        </div>
                        <h3 class="card-title">
                            <small>Suscriptores en mora</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">list</i>
                            <a href='http://localhost:8080/suscriptores/reportes/enMora'>Ver Reporte</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons orange600">monetization_on</i>
                        </div>
                        <h3 class="card-title">
                            <small>Total facturado</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">list</i>
                            <a href=''>Ver Reporte</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <br>
        <br>
        <div class="row" *ngIf="barChartData">
            <!-- <div class="col-sm-6">
                <h5>Consumo de agua por vereda</h5>
                <div style="display: block">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                </div>
            </div> -->
            <div class="col-sm-6">
                <h5>Recaudos por vereda</h5>
                <div style="display: block">
                    <canvas baseChart 
                        [datasets]="barChartDataV" 
                        [labels]="barChartLabelsV" 
                        [options]="barChartOptionsV"
                        [plugins]="barChartPluginsV" 
                        [legend]="barChartLegendV" 
                        [chartType]="barChartTypeV"
                        [colors]="chartColors">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>