<div class="card">
  <div class="card-header">Modal Detalle Usuario</div>
  <div class="card-body">
    <div class="container">
      <div class="row">

        <ul *ngIf="empleado" class="list-group mb-3">
          <li class="list-group-item">{{empleado.nombre}} {{empleado.apellido}}</li>
          <li class="list-group-item">{{empleado.cedula}}</li>
          <li class="list-group-item">{{empleado.usuario}}</li>
          <li class="list-group-item">{{empleado.direccionResidencia}}</li>
          <li class="list-group-item">{{empleado.fechaNacimiento | date: "dd, MMMM  yyyy"}}</li>

        </ul>

        <div class="col-sm">
          <div class="input-group mb-3">
            <div class="custom-file">
              <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input" id="seleccionarFoto">
              <label for="seleccionarFoto" class="custom-file-label" for="seleccionarFoto">Seleccionar Foto</label>
            </div>
            <div class="input-group-append">
              <button (click)="subirFoto()" [disabled]="!fotoSeleccionada" class="btn btn-outline-secondary"
                type="button">Subir</button>
            </div>
          </div>

          <div *ngIf="progreso > 0" class="progress">
            <div class="progress-bar" role="progressbar" [ngStyle]="{'width': progreso +'%'}" attr.aria-valuenow="{{progreso}}" aria-valuemin="0"
              aria-valuemax="100">
            {{progreso}}%
            </div>
          </div>

        </div>


        <div class="col-sm">
          <img *ngIf="empleado?.foto" src="http://localhost:8080/empleados/uploads/img{{empleado.foto}}" alt=""
            class="img-thumbnail rounded">
        </div>
      </div>
    </div>
  </div>
</div>