<div class="modal-header">
  <button (click)="close()" type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div id="content" #content>
  <div class="card">

    <div class="card-body">
      <div class="row">
        <div class="col-sm-8">
          <h5>FACTURA DE VENTA DE LOS SERVICIOS PÚBLICOS DE ACUEDUTO </h5>
        </div>
        <div class="col-sm-4 border">
          <h5 class="modal-title">N° Factura: {{data.factura.id}}</h5>
          <h5>Suscriptor: {{data.factura.predio.numeroMatricula}}</h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-4">
          <h5>Fecha Emisión</h5>
          <label>{{data.factura.fechaEmision}}</label>
        </div>
        <div class="col-sm-4">
          <h5>Periodo Facturado</h5>
          <label>{{data.factura.periodoFacturado}}</label>
        </div>
        <div class="col-sm-4">
          <h5>Fecha Máximo de pago</h5>
          <label>{{data.factura.fechaMaximoPago}}</label>
        </div>
      </div>
      <hr>
      <h3> Información de suscriptor</h3>
      <hr>
      <div class="form-row">
        <div class="form-group col-6">
          <label for="nombre">Nombre</label>
          <h4>{{data.factura.predio.suscriptor.nombre}}</h4>
        </div>
        <div class="form-group col-6">
          <label for="apellido">Apellido</label>
          <h4>{{data.factura.predio.suscriptor.apellido}}</h4>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-6">
          <label for="numeroCedula">Número de Cédula</label>
          <h4>{{data.factura.predio.suscriptor.cedula}}</h4>
        </div>
      </div>
      <br>
      <h3> Información de Predio</h3>
      <hr>

      <div class="form-row">
        <div class="form-group col-6">
          <label for="nombre">Nombre predio</label>
          <h4>{{data.factura.predio.nombre}}</h4>
        </div>
        <div class="form-group col-6">
          <label for="numeroMatricula">Número de matricula</label>
          <h4>{{data.factura.predio.numeroMatricula}}</h4>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <label for="nombre">Vereda</label>
          <h4>{{data.factura.predio.vereda.nombre}}</h4>
        </div>
        <div class="form-group col-6">
          <label for="nombre">Estrato</label>
          <h4>{{data.factura.predio.estrato}}</h4>
        </div>
      </div>
      <hr>
      <div>

        <h3> Detalles</h3>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th colspan="3">Total a Pagar</th>
                <th>{{data.factura.granTotal | currency}}</th>
              </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let detalle of data.factura.detallesFactura">
                <td>{{detalle.tarifa.descripcion}}</td>
                <td>{{detalle.tarifa.valorTarifa | currency}}</td>
                <td>{{detalle.cantidad}}</td>
                <td>{{detalle.valor | currency}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary"
    (click)="downloadPdf(data.factura.id)">Generar PDF</button>
</div>