<div class="card">
  <div class="card-header">
    Agregar Item Factura
  </div>
  <div class="card-body">

    <mat-form-field>
      <mat-select [(ngModel)]="tarifa" name = "tarifa">
          <mat-option *ngFor="let tarifa of tarifas" [value]="tarifa">
              {{tarifa.descripcion}}
          </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="form-group row">
      <label for="valorTarifa" class="col-form-label col-sm-4" style="text-align: right">Valor Tarifa</label>
      <div class="col-sm-6">
       
      </div>
    </div>

    <form>
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Valor Tarifa</label>
        <div class="col-sm-4">
          <input id="valor" name="valor" currencyMask [(ngModel)]="tarifa.valorTarifa" [options]="{prefix: '$', thousands: ',', decimal: '.', precision: '0'}" placeholder="Valor"
          class="form-control" readonly>
        </div>
        <label for="nombre" class="col-form-label col-sm-2" style="text-align: right">Consumo Actual</label>
        <div class="col-sm-4">
          <input type="text" class="form-control"  name="consumoActual"  [(ngModel)]= "detalleFactura.consumoActual" placeholder="Consumo Actual">
        </div>
      </div>
    </form>

  </div>
  <div class="card-footer">
    <button class="btn btn-primary" (click)= "addTarifaFactura(detalleFactura, tarifa)">Agragar</button>
    <button class="btn btn-danger" (click)= "close()">Cancelar</button>
  </div>
</div>