<div class="card align-items-center mt-5" style="border: none">
  <div class="border bg-light">
  <div class="card-header">{{titulo}}</div>
  <div class="card-body">
    <form method="post">
      <div class="form-group col-sm-12">
        <img src="https://firebasestorage.googleapis.com/v0/b/acueductoimg.appspot.com/o/water-drop-84-729052%20(1).png?alt=media&token=a02b6071-5529-4d30-abaf-be7b6d2e3522" alt="" class="rounded mx-auto d-block">
      </div>

        <div class="form-group col-sm-12 my-2">
          <input [(ngModel)]="empleado.usuario" type="text" class="form-control" name="username" id="username"
            placeholder="Nombre de usuario " autofocus required #usuario="ngModel">
          <!-- Div exterior para saber si hay errores, divs interiores para mostrar cada uno de los errores -->
          <div class="alert alert-danger py-0" *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)">
            <div *ngIf="usuario.errors.required">
              <small>El nombre de usuario es requerido</small>
            </div>
          </div>
        </div>
  
      <div class="form-group col-sm-12 my-2">
        <input [(ngModel)]="empleado.contrasena" type="password" class="form-control" name="password" id="password"
          placeholder="Contraseña " required #password="ngModel">
        <!-- Div exterior para saber si hay errores, divs interiores para mostrar cada uno de los errores -->
        <div class="alert alert-danger py-0" *ngIf="password.invalid && (password.dirty || password.touched)">
          <div *ngIf="password.errors.required">
            <small>La Contraseña es requerida</small>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 my-3">
        <input (click)="login()" type="submit" class="btn btn-lg btn-primary btn-block" value="Ingresar">
      </div>
    </form>
  </div>
</div>
</div>