<div class="card align-items-center mt-5" style="border: none">
  <div class="border bg-light">
  <div class="card-header">{{titulo}}</div>
  <div class="card-body">
    <form method="post">
      <div class="form-group col-sm-12">
        <img src="https://lh3.googleusercontent.com/hTTMBcWXqtNUiMaE9OQ0PLPhOu1wqTkRMdeifkvBfpMU7aLjUcx2SVHFS6u3sBbghrPsxC9wLIhZ-zV6n_YApPFuB0jQCiXGdTuiHWOyCX1U_uZ0ksvU8ski6LG0BdpP7_2pLuelMkmuXlap1DNGkN4fJx8n0W9hRmD8VVLjzRNlYIXsSb9aiXMQSBgoFQoHrS1Xkt5KRXoKANhsveTYB73Lv_mjHar95Uq4uPueLuSzPVdsJAzhv9Ad9_szk17si73mBqwm-Cpg2fIpMA6YgGrcUSi8Y1Wjjp52szeujmQ_iIWTHUC6_vxekGY4waSyaL5DQX8x2Xf5CENlCta6pDbVO4yzQSfYc1qvV--7NZFOWVjbkML3YYyMCR0Y0oBMvxleG1OJxrydAHk0EpaRhthCB3NXBZw6_a4Y4ugpWgD31-QK3Tk2WOBUkFWbLg4KPw8Dt7O_upPKSA18vt8pyzVDmDH3AWgSzoj4CSBTVv30rBUeLKSKDc7kTyJ34delYSAWCu-RG7Mou5WzQduCrdxc7On2VvtokwPfn8fsk-FqQSeb9XxDIJQdhJUSCygGJh57jN36-W0F5S1_XFfwLHuM4G2wmzbablPKC5QZ57VPgwiRfzVML48xkV0fzjJr6fkvRQrJGq7eYP_sJ-W88WHsxWeNIA=w200-h152-no" alt="" class="rounded mx-auto d-block">
      </div>

        <div class="form-group col-sm-12 my-2">
          <input [(ngModel)]="empleado.usuario" type="text" class="form-control" name="username" id="username"
            placeholder="Nombre de usuario " autofocus required #usuario="ngModel">
          <!-- Div exterior para saber si hay errores, divs interiores para mostrar cada uno de los errores -->
          <div class="alert alert-danger py-0" *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)">
            <div *ngIf="usuario.errors.required">
              <small>El nombre de usuario es requerido</small>
            </div>
          </div>
        </div>
  
      <div class="form-group col-sm-12 my-2">
        <input [(ngModel)]="empleado.contrasena" type="password" class="form-control" name="password" id="password"
          placeholder="Contraseña " required #password="ngModel">
        <!-- Div exterior para saber si hay errores, divs interiores para mostrar cada uno de los errores -->
        <div class="alert alert-danger py-0" *ngIf="password.invalid && (password.dirty || password.touched)">
          <div *ngIf="password.errors.required">
            <small>La Contraseña es requerida</small>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 my-3">
        <input (click)="login()" type="submit" class="btn btn-lg btn-primary btn-block" value="Ingresar">
      </div>
    </form>
  </div>
</div>
</div>