<!-- Mediante inyección, pasa el suscriptor seleccionado al modal solo si está seleccionado -->
<detalle-suscriptor *ngIf="suscriptorSeleccionado" [suscriptor]="suscriptorSeleccionado"></detalle-suscriptor>

<div class="col-md-12 card border-primary">
  <div class="card-header">Suscriptores</div>
  <div class="card-body">
    <div class="my-1 text-left">
      <button class="btn btn-rounded btn-primary" routerLink="/suscriptoresform"> Crear Suscriptor</button>
    </div>

    <hr>

    <h5 class="card-title">Listado de Suscriptores</h5>
    <div *ngIf="suscriptores?.length === 0" class="alert alert-info">
      No hay Suscriptores en la base de datos!
    </div>
    <table class="table table-bordered table-striped" *ngIf="suscriptores?.length>0">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Número Telefono</th>
          <th>Estado</th>
          <th>Estado Cuenta</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let suscriptor of suscriptores | paginate: { itemsPerPage: 7, currentPage: pageActual}">
          <td>{{suscriptor.nombre}} {{suscriptor.apellido}}</td>
          <td>{{suscriptor.numeroTelefono}}</td>
          <td><span class="badge" [ngClass]="{'badge-success' : suscriptor.estado === 'A',
              'badge-secondary' : suscriptor.estado === 'I'}">
              {{suscriptor.estado === 'A'? 'Activo':'Inactivo'}}</span>
          </td>

          <!-- <td *ngIf="suscriptor.estado === 'A'; else inactivo"><span class="badge badge-success">Activo</span></td>
          <ng-template #inactivo>
            <td><span class="badge badge-danger">Inactivo</span></td>
          </ng-template> -->

          <td><span><i class="fa fa-2x "
             [ngClass]="{'fa-check-circle-o text-success': suscriptor.estadoCuenta === 'D',
                        'fa-exclamation-circle text-danger': suscriptor.estadoCuenta === 'M'}" ></i>
              {{suscriptor.estadoCuenta === 'D'? 'Al día': 'En mora'}}</span></td>
          <td>
            <button type="button" class="btn btn-info mx-2"
              [routerLink]="['/suscriptoresform/form', suscriptor.cedula]">
              Editar
            </button>
            <button type="button" class="btn btn-danger mx-2" (click)="eliminar(suscriptor)">
              Eliminar
            </button>
            <button type="button" class="btn btn-info mx-2" (click)="abrirModal(suscriptor)">
              Info
            </button>
          </td>
        </tr>

      </tbody>
    </table>
    <pagination-controls (pageChange)="pageActual = $event" *ngIf="suscriptores?.length != 0"></pagination-controls>
  </div>
</div>