<!-- Mediante inyección, pasa el suscriptor seleccionado al modal solo si está seleccionado -->
<detalle-suscriptor *ngIf="suscriptorSeleccionado" [suscriptor]="suscriptorSeleccionado"></detalle-suscriptor>

<div class="col-md-12 card border-primary">
  <div class="card-header">Suscriptores</div>
  <div class="card-body">
    <div class="my-1 text-left">
      <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" routerLink="/suscriptoresform"> Crear Suscriptor</button>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-4 mt-3">
        <h5 class="card-title">Listado de Suscriptores</h5>
      </div>
      <div class="col-sm-8">
        <div class="d-flex flex-row-reverse">
          <app-filter-suscriptores (changed)="filter($event)"></app-filter-suscriptores>
        </div>
      </div>
    </div>

    <div *ngIf="suscriptores.length == 0" class="alert alert-info">
      No hay Suscriptores en la base de datos!
    </div>
    <table class="table table-bordered table-striped" *ngIf="suscriptores?.length>0">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Número Telefono</th>
          <th>Estado</th>
          <th>Estado Cuenta</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let suscriptor of suscriptoresFiltrados | paginate: { itemsPerPage: 7, currentPage: pageActual}">
          <td>{{suscriptor.nombre}} {{suscriptor.apellido}}</td>
          <td>{{suscriptor.numeroTelefono}}</td>
          <td><span class="badge" [ngClass]="{'badge-success' : suscriptor.estado === 'A',
              'badge-secondary' : suscriptor.estado === 'I'}">
              {{suscriptor.estado === 'A'? 'Activo':'Inactivo'}}</span>
          </td>

          <td><span><i class="fa fa-2x " [ngClass]="{'fa-check-circle-o text-success': suscriptor.estadoCuenta === 'D',
                        'fa-exclamation-circle text-danger': suscriptor.estadoCuenta === 'M'}"></i>
              {{suscriptor.estadoCuenta === 'D'? 'Al día': 'En mora'}}</span></td>
          <td>
            <button *ngIf="authService.hasRole('ROLE_ADMIN')" type="button" class="btn btn-info mx-2"
              [routerLink]="['/suscriptoresform/form', suscriptor.cedula]">
              Editar
            </button>
            <button *ngIf="authService.hasRole('ROLE_ADMIN')" type="button" class="btn btn-danger mx-2" (click)="eliminar(suscriptor)">
              Eliminar
            </button>
            <button type="button" class="btn btn-info mx-2" (click)="abrirModal(suscriptor)">
              Info
            </button>
          </td>
        </tr>
        <tr *ngIf="!suscriptoresFiltrados || !suscriptoresFiltrados.length">
            <td colspan="5">No se encontraron suscriptores</td>
        </tr>
      </tbody>
    </table>
    <div class="row">
        <div class="col-sm-9">
          <pagination-controls (pageChange)="pageActual = $event" *ngIf="suscriptoresFiltrados?.length != 0">
          </pagination-controls>
        </div>
        <div class="col-sm-3">
          Número de Suscriptores: {{suscriptoresFiltrados.length }}
        </div>
      </div>

  </div>
</div>