<div class="card border-primary mb-3" style="margin-left: 30rem;">
  <div class="card-header">Suscriptores</div>
  <div class="card-body">
    <h5 class="card-title">Listado de Suscriptores</h5>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Cedula</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Fecha Nacimiento</th>
          <th>Genero</th>
          <th>Número Telefono</th>
          <th>Correo Electronico</th>
          <th>Estado</th>
          <th>Estado Cuenta</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let suscriptor of lista">
          <td>{{suscriptor.cedula}}</td>
          <td>{{suscriptor.nombre}}</td>
          <td>{{suscriptor.apellido}}</td>
          <td>{{suscriptor.fechaNacimento}}</td>
          <td>{{suscriptor.genero}}</td>
          <td>{{suscriptor.numeroTelefono}}</td>
          <td>{{suscriptor.correoElectronico}}</td>
          <td>{{suscriptor.estado}}</td>
          <td>{{suscriptor.estadoCuenta}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>