<div class="card fixed">
  <div class="card-header">
    <legend class="text-center header" *ngIf="!editar else EditarTitulo">Agregar Suscriptor</legend>

    <ng-template #EditarTitulo>
      <legend class="text-center header">Editar Suscriptor</legend>
    </ng-template>
  </div>
  <div class="card-body">

    <form>

      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-4" style="text-align: right">Cedula</label>
        <div class="col-sm-6">
            <input id="cedula" name="cedula" type="text" required [(ngModel)]="suscriptor.cedula" placeholder="cedula"
              class="form-control" minlength="10">
        </div>
      </div>

      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-4" style="text-align: right">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="suscriptor.nombre" name="nombre" #nombre="ngModel"
            placeholder="Nombre">
        </div>
      </div>

      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-4" style="text-align: right">Apellido</label>
        <div class="col-sm-6">
          <input id="apellido" name="apellido" type="text" required [(ngModel)]="suscriptor.apellido"
            placeholder="Apellido" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <label for="fechaNacimiento" class="col-form-label col-sm-4" style="text-align: right">Fecha Nacimiento</label>
        <span class="col-md-offset-2 text-center"><i class=""></i></span>
        <div class="col-sm-8">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" name="fechaNacimiento" required
              [(ngModel)]="suscriptor.fechaNacimiento" placeholder="Fecha Nacimiento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

      </div>

      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-4" style="text-align: right">Correo</label>
        <div class="col-sm-6">
          <input id="email" name="email" type="text" required [(ngModel)]="suscriptor.correoElectronico"
            placeholder="Email Address" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-4" style="text-align: right">Telefono</label>
        <div class="col-sm-6">
          <input id="phone" name="phone" type="text" required [(ngModel)]="suscriptor.numeroTelefono"
            placeholder="Phone" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-primary btn-lg" (click)='createSuscriptor()'
            *ngIf="!editar else elseBlock">Guardar</button>

          <ng-template #elseBlock>
            <button type="submit" class="btn btn-primary btn-lg" (click)='update()'>Editar</button>
          </ng-template>

        </div>
      </div>
    </form>

  </div>
</div>