
<div class="card mb-3" >
  <div class="row">
    <div class="col-md-12">
      <div class="well well-sm">
        <form  (ngSubmit)="onSubmit()" class="form-horizontal" method="post">
          <fieldset>
            <legend class="text-center header">Agregar Predio</legend>
            <div class="form-group">
              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-keyboard-o"></i></span>
              <div class="col-md-8">
                <input id="id" name="id" type="text" required [(ngModel)]="predio.id" placeholder="Número Catastral" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-road"></i></span>
              <div class="col-md-8">
                <input id="direccion" name="direccion" type="text" required [(ngModel)]="predio.direccion" placeholder="Direccion" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-sort-numeric-desc"></i></span>
              <div class="col-md-8">
                <input id="estrato" name="estrato" type="number"  required [(ngModel)]="predio.estrato" placeholder="Estrato" class="form-control"  min="1" max="6">
              </div>
            </div>

            <div class="form-group">
              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-globe"></i></span>
              <div class="col-md-8">
                <input id="latitud" name="latitud" type="text" required [(ngModel)]="predio.latitud" placeholder="Latitud" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-globe"></i></span>
              <div class="col-md-8">
                <input id="longitud" name="longitud" type="text" required [(ngModel)]="predio.longitud" placeholder="Longitud" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 text-center">
                <button type="submit"class="btn btn-primary btn-lg">Guardar</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-4">© 2019 Copyright:
    <a>Acueducto Veredal</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->