<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h1>Documentación</h1>
      </div>

      <div id="accordion">

        <div class="card">
          <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapseOne">
              Planeación
            </a>
          </div>
          <div id="collapseOne" class="collapse show" data-parent="#accordion">
            <div class="row">
              <div class="col-sm-6">
                <h5>Especificación de requerimientos</h5>
                <iframe src="https://drive.google.com/file/d/18l0Jsc6-5YAyzvgiYl_mN2VIzLr5UAyP/preview" width="100%"
                  height="480"></iframe>
              </div>
              <div class="col-sm-6">
                <h5>Casos de uso</h5>
                <iframe src="https://drive.google.com/file/d/1US7n-iONadE-1gZ0Pq37qZuv7yOJEQKF/preview" width="100%"
                  height="480"></iframe>
              </div>
            </div>

          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
              Diseño
            </a>
          </div>
          <div id="collapseTwo" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <h4>Diseño de Mocckup</h4>
              <div class="col-sm-12">

                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators my-4">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="6"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="7"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="8"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="9"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="10"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="11"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="12"></li>

                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img
                        src="https://lh3.googleusercontent.com/1I0k8bvyJlR0-xyeNabe3MJnRcBNS_1tdy7euOk8tJ1ee-bNbFZXA3RhmG2tDvs_X-kxzsThAgvtyRhbFJP7szJibxTANPLN91ckvJ9js5jOQPsmPVXYBqzG8zxce0ea9hgnKm-p=w858-h657-no"
                        height="450px" alt="..." class="w-100">
                      <div class="carousel-caption d-none d-sm-block bg-dark mb-4">
                        <h5>Inicio de sesión</h5>
                        <p>Se debe ingresar usuario y contraseña</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://lh3.googleusercontent.com/SAapp2WhFeFTwIZ13hAfSoPvGROgM-MV7qgeeNYejUgnspFYmXOV433BI9M8ngVaA1RtUpAuMs7CJgY41ip1nWYoZSb_jg5REh1yPLJS3dyBy8OZmChbhdqnLZjs7D9YchW74uYi3z3yDB-7uYf5zv569zEVVCP15wu7V9MzwXP9Q-6xhpglCzc0-za3n8B0N5m8SOJORcZvqJAuREdDetN-0EjInw7ikOhzxmSEjyJhl_r1VR0sCPz62c5LmRtkm5CxvN3AXBRLOOHBB05nIsALza2JpopUVUz5gDPgH3_SK85hdj5UiRYY8e5qTtkAkgzDEZskTNtYXveSumg3gQigCi5mxen4VZJqbCGN7xhOmpFw_JRWR8Evg0SHfMTtixUkrZo8C_UqWV_evmXeb2LShcJPjbNj6DB1Xz_4MtzwIaSXGvWwra01VkifAT5NlSkoWvMmDqNEbX6kYpnX-XnYUNx3Bw9kWF0LucOXaZr7Utwwo6ONTD94ibvSvkTwLd4VNl_JAq8qKWtUncBobxA0hl5rToPGAkIA3Z7jkio0wQPWsgg5xVTlKLOXhAp3uYHo0a_OJsoM3-VBL3HXVDBoTai1CHEL0kpag1c7K6NobcOyQTKNTUlzRSLT8b8C-QN-3sxNzl4lzRczdNoia8-FXgBdrA=w589-h608-no"
                        height="450px" alt="..." class="w-100">
                      <div class="carousel-caption d-sm-block bg-dark mb-4">
                        <h5>Registro usuario</h5>
                        <p>se ingresan los datos solicitados del usuario del sistema</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://lh3.googleusercontent.com/tXroRUukLZNVx0dHgV35osAfMOrSN_NuNYBJNGxQg13-0MQ9PVP4yQ27GZBh1miwZ5SWZoOJcF20Jz-55tmXB5GthefYgwFu5Ea5NiI3qXevtB-cc-MJaGoSA1w7GS1CbwvUteql-BppOgafM1oP54K8j6Xl3Ung8_XU-S8Tkn7oZIlWe9yqmQYmmCzsjFq0w_Rb3ilirCcnHkYKBA2p09CANxD2Kg7FNPqmsC3lGtk-S2ai7ql8YvTFqpwtY3BD8RyTIJw6oqJTCnCHVlBjmjtruLYciIbbz_2WX1VNkrzodqL1rPCHjP2pA3nsjc39ANsqP7Fn6p-IxRmTLuSRP-3zOCJBxh0sRWRtXFQUgX3VUCCz6lgujBdkW97mfuauQtgWX_Bv_PsV6xsuPjBfXQgQeFw2_JzJbL8fK1SRcFPzxe15HX0X6aXG8U7N0reqJeHnuewWt9UR19ox61XmnmpMVMwGxceo5b0ySSpvt99e9CQxtfmNNcZFKqk5mlyzFVpzkCEc__jbr-6fk8m834ddYqfdOpQMIy6Wf7wiw8ixeCrBzVG01yOa5Ax5f9XE_PBBVxsDl14uM5-9tjA8eRKGLq1R86nJMO_tMUfUK1e7wdI1H6YTC7qOeYHqQXdqnRCGE86H_jVcpzgdW0-4mF98wZBP4Q=w714-h608-no"
                        height="450px" alt="..." class="w-100">
                      <div class="carousel-caption d-none d-sm-block bg-dark mb-4">
                        <h5>Visualización de los usuarios</h5>
                        <p>Una vez registrado el usuario se pude visualizar en el modulo de todos los usuarios</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://lh3.googleusercontent.com/YQDX2GXuxN9RSz-xotU6IDphXchSqnbw5vFFYx1vbE_t3yeKJCNO493INIYHKS74RYKX_6uSVvTVQ7Om_P8InGqw1RSbMVl-IDAIEfHnZasw5NnOmzo7C8DzvI-qgtzLGyIjva0iFtLSBlfMtU4PmJo5vxwg6Lu0H9ugntxOke2NYcvK72Uw77nDnUCZHWiGNr2BO6nVuE0Q9Hrqfw6aHoGRyxfEyAzHCY5409IlRpThDeicCjs6_curYCYmdgWdLTcPq5ViC3qzfoTByJsIwab3kSdlYoCi3WCqUJDRRXyXoEBXvnJa6mrP8MenkF2pfDBEw2zEE_xNdJbmneHkujZtKDyWqrJRLMvm3jTujyBEuKSAEOdaymK_Mf16QFpdt_fq7857PamqixK6J1FO8OBEl8iIDSD_Ngpodo3D1S1-BxWl_m_qbbwvfPRTrHOg-Jl00bsWmF-ArktDfzBPpVJcOxLZjYRNVvUFvNkSUBHFBmg1RC__Haq55i7BMSQ09r8WVYkXOfCfaNu2x6jOWzbr1PPFLHgBcTrvuIFA311GwvBmecWh1Oq5d41lc-jo9tkwLhyMRfwF9lFFv1DsDH6ieyIracre47RFOS2feRm__eUSqJHWYm5exeg1Ma9yS6FEPk-rcBPaSPGnARgBgn7uL83WmQ=w480-h608-no"
                        height="450px" alt="..." class="w-100">
                      <div class="carousel-caption d-none d-sm-block bg-dark mb-4">
                        <h5>Registro de suscriptores</h5>
                        <p>para llevar a cabo el registro del Suscriptor se agrega la información requerida</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://lh3.googleusercontent.com/-geRd48ovkSaBd6zjUu8LlZPiBsFkx5faKQINbctKIb-t5woM0ZhKRvBtu9e5r6ELDFV1wMZg7n9eaaRyllC4wqjVboIHI6NJzRzbApQy_pO0RthEyzSK1YlsXFTNu5Az6RaH3vVe8bOwuGoVo4ip5395so-S86HabKiazs1_bdTCmQxTtyns8D4HvBAjZucACvHRdR7KxzcpfseBQboUlSgcVaj0ZZ7EUR5-yw28jnDazPpuAAlORc5z-9ViVREyzf8n17JQkNV1ER3xFOaZw_0hNi0kDNrzr2v6cRKSN5-yvFVpoHweNjG8Ivbcff29yFN0MRXbxHpOtBfjyKUtqOhpYgzOqX65oCxT1HpQSYgnY0Gjxg2W1V8YBsSHMt5TLIIi04I7luviOWz7IG_2JqV2ggbIfsVEcNhfROLuH5Q-j0JT59Jiw6Y4Momx43Cl3vmZUPXh2VzEy2ptbMB-aFmV-C5LRzez8PpADhdWdbvmMKx_HSfOMyhNecFuAa9I1i_B6vjqv6HXoyRjxBLk5r-uzrsTLi5BMOsR3aOESujFRmVwrbxgxdiOBDmKmvitnwX_eGKxeSAFLhEp3PTxKThC7cJnRDJW-xdnTVikUliq53WvRsDUHedaGkzIH1dQtwO0v2BlYLyZfytrHu9l3Ed4TE0cw=w714-h608-no"
                        height="450px" alt="..." class="w-100">
                      <div class="carousel-caption d-none d-sm-block bg-dark mb-4">
                        <h5>Visualización de todos los Suscriptores</h5>
                        <p>Una vez registrado el suscriptor lo redirige a esta ventana</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://lh3.googleusercontent.com/JeeD_GuiCKkMeuqxFekaKYWiKnrkA79WHlBN8Ts24rXTj1cGEmHZdz9Aki3vvwly6pniBYjTNATOVYx2jWRK8cZQVfTON2mxckEb6Ekv4pFcwRPO4lRVA2Eqd3Xnt00z0yNP5P5qzCEswhNKKpb-7i30KFp39Uq1UnJiZxq4WjJxcAxMSc0B5RxeeHlE798FWffwUgSCxR-6UvhLz_K6_gIq1s-yIuJdkH02x1Kp2Js-T8knv_urGZBgR5c7OQqyo1_jCHGPrG_9sngdjHqZleXuPlQ9DTCDYu7e5sI8tUF-4RVlmVXK0wb1OZpUkZPJWJ5T8cZcj7Uch4taeaCP8uAzpHkxy3-5xQwcwoUN3DNDMhKVyIRojI_NkAhK7n8HJGizk3JSBudHadwL1ayWPCmXaBVhiT-vL-QGjWhtdcTV5dbYGHexIEOowxT2w7svx0w87n7W2a6FqwWWFAhTUx4iR_4npURYfq0xZyEuOu1UU__6cccsnKmtFHSEgnLcahrSYtS278KIYGdrGPFLz-1qT-xC3aEbqWws5j-V4WYdy4ZATvwwIK49PZkg7nTexSWDlF1_IUx_0nKbr5Ow4VD-IDlAZMztD41SF-Srrglz18k4imMzoU9XFKr2DFTtGR9HXy2CiIjeG05wfJeb94IesAoesg=w385-h608-no"
                        height="450px" alt="..." class="w-100">
                      <div class="carousel-caption d-none d-sm-block bg-dark mb-4">
                        <h5>Visualización información del Suscriptor</h5>

                      </div>
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://lh3.googleusercontent.com/Mr6LUPS7L0UUwEnyTBe8GyWagmdVLa-IjqX1UFuVeBXtmjjGjgqwxha1t_hC_bQFRlrYEp1rmreCtAU8Q5Xj02jeyBAXKMnlsPOsHO7__v1CvPRWrZfk4ZFZMaIe7jbLmdA2MRA2sQkOevc_5mKzT7mF8U1jvyTPLhhkCCdg2D77LZmibZiDAkZK7RL7UeUaJmSKqgYwOmkfzKvSzyy2GPfw1Lew0RvukuJ6VDE_xXsUCBzjCnNWaOlrQtQL6Xi0oEq86oZ3zopkEzv1-JTB3U8u7xmaZDj-I5n4XsE6r6V-u-00OTISAiXdjSDH-lxwNMZxrsNwdvzUu7LH7Omo8Y_Ww1e84r8liUzrKjgMuE3NeG8mktiybvnmdEzEq7jDPTkjMOGgd8gnBd8ykENJ6yE-gP6Qj_X24ErRPBPNQ2ct7hWS2wkvMLGOpOKqBgcKktCSAv_hBA7C44bmGlPjWnDSgm3M4iN8d20bBwUlrQQEoXQPJmq2Hpetyj7_oY2S6kQTqa65234iFCz-WtzhptJm917dulplArReUjF2OCkq4zuiWTZ_MRr3Pd_dLek_-acICQ6o3B7P_0tgnaCgBWJ_sbD5OhtzdPnpNX7AcxhaG514zUl3MwADcn2ipcmJZ1FciBv7330kMP-O7mV4ie2M2wZhAA=w369-h202-no"
                        height="450px" alt="..." class="w-100">
                      <div class="carousel-caption d-none d-sm-block bg-dark mb-4">
                        <h5>Registro tarifa</h5>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://lh3.googleusercontent.com/ZHdEaWp08wU9zoAOTHtQX4bqSz-uhiZA8dPe2-o4d2Bjj7zQGT13ROd75xr9OQHfLwu3S1UmIQYGPb1JLGlveWfJWtu6ctajkurApSbMJoWLuXUmzTGl92x3FfwnoTT3q4EkVtpJToHXDkRmgcTHHew9U_rf7Xhq0NdZDUe_mVAt8kgsiWWgkTdkdHOTLAz0QGDwi5wiocuYkpgr5gv9Ipb2j0fnuTOGzbPijYg0neUip-ogra8x4hjTML5WxwfY1hCLTEn7Zpk_2WVPVbCFUwTxpOuhh4IQdT_JGXwmynNm0JlGj42r0oeion7T3hWOW_Shpo_ZB5u-RUrZM9ooataeC_Q8NdLqn5iRKELLkKo6ge9S-qSUtBGnU578fv7jdfkAFYnmry03_2hFwnBFy48UhhQGUGbeF6TfZLKqED37iY2zu_E1Qm8um-dbWRpyKSuNaAysZLb7FP44m1C5tfdZ5nDdVT5w-uhRQ5BSKFpIoOintZxPLXbdTuUOtI21dGObLw-ilQ71r9yLkBIWZEsr71sVjk0YzpN7EybNtT932snPQEc3qXEXUVc3EuErbP4jOEy3y45AsynGHI_ymzIfhHhfbB4tycZDDoNo-BrniyUwjvi6Oly7pkv6BKL-l_tVyD_KIsDwkHpa_o_HKaeyJZrKtA=w714-h608-no"
                        height="450px" alt="..." class="w-100">
                      <div class="carousel-caption d-none d-sm-block bg-dark mb-4">
                        <h5>Ver todas las tarifas</h5>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://lh3.googleusercontent.com/aFcy2nZX4812_Ln8-xxAMDiO7jpKIzjmzO6bfyBbc-RAp0MMclL8ybynhC_fDQTvs5wi6BaSOn0P6LNCrh50L8rVh5x1GRLfMP6EJH1JHNIQZ83QobHwpIJNSbUSf7zVh9xPb8NcyeWzwwdkfuVeGjWpT1ZvZdd0_wxC0oqB9jJ0vprRNsZyG8QtOMBEL2ECjFB5jOGO2bA7T2B81szkoPzk7yVDhxBCSKiPiMvvcOiwrrJnGmkpWpZ13TQogC4hEezpgXHnehLBHMHsHDkuvZMl_wCDWgiJAvFyNrZ6C1tuJV1RAy-upmCTrW_yfE9qUFoJ2JmOFZmYH83H-3qZrBkac5oziLNnD6hMtzesOu7gZbPnhGwPCeYQQeBZqcfFj74HVo8QF8UQff0qdTR-anOm2Awrd8aenZVWhTtVDHdDxAlQO0rDMcxdTT3G1qeL92zWqEj9Zm06Ln6nAUSNT2_nnt7B9mZau-Ad-6I-3tlW5zAi6TiDb4dYVYGuV4bVJektg6p9O5NiokizGTv3jSn-5odot2tSXFuL9jOz8-A4LGt6ggZjNwOBVzM3qdgdaw_jvjo2fhskk6ZPjbHH5ZvnLBirvAMezbCZL0ihq7LtfEdeAjd0_eVLnyvcmho7m09I0ttULSCUOJA76g9rq4k6j9XfHA=w1000-h548-no"
                        height="450px" alt="..." class="w-100">
                      <div class="carousel-caption d-none d-sm-block bg-dark mb-4">
                        <h5>Registro vereda</h5>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://lh3.googleusercontent.com/gQgB89ceWjr8HT_A-S8cGuzD4zb2d4d5s7eEDX1xT2WoIElPGVDGm2T9kJ7EIi8sIO15QJX1vEktjMwCBwwLjN3T2WqX7V_t1nCBkxI3_0xDMkskhN4n1JBSu7w4CYuF278ZeX0FaG-0fvxXJ6GKmDtgS932EzSMzTXi6FsXEg37Tt-kT-Fj9qjQ6wz5faPRnU_kxssBpGmNtXpfitkfiMRYTjjhVHpy82qXTOabHvZq9SBh0rjCGbdf59t8MPNVuyHt91OhOpfnPNiEDogbDqcAvDNT_wULXgHqyIMYqOJIjEcGUo19QgJ7b1F4bYpxPic9cWL21zPG17rspNmimSGA2mBlk_oIYhNM2gKNfkyVbKzEP2WGbfcus2HMZHZcIU18PcdyhS9s0k9nEKL84Ebipw8Q_BGD53CmiRpsoT--ExwgVV5fV1GACXkLNj2ruhEg2rt-o2WQvSM6Hvc8UiAuV8cuZqxCldPU0D1uGaKJe27k3Old8XMd6_VY5Jan-ECDvniVeSBaq6X6ZNjilyAnuTwG_DoY1GjAC7u6K6_X-1HezfrdyjqjUymC1OTMkq8gjYbxmSmfeX2H6Y2NgNwPZDUqr5rBpYh0qINHw-vA6mCRSmKi2sUZZgGc-Qn9pAy2-60BREtFYauacm9WGwKspWpi7Q=w480-h608-no"
                        height="450px" alt="..." class="w-100">
                      <div class="carousel-caption d-none d-sm-block  bg-dark mb-4">
                        <h5>Registro predio</h5>
                        <p>En este modulo se agrega la ubicacion geografica del predio.</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://lh3.googleusercontent.com/wnQ6g6Ho0TwiNCoTwRqTPFtGbhwSpGz39BqaNc_o2f977H7Yr-SjGgf0EgTAIBCtQNv_ZKLG4ZLBAkxIw9S96HVIzOQFMVs_Oq6fO4ObJ2UJm5wcER3B4wGPT9W8IUGro6ZghEU7-I3oeQTVhbZPwL_YX6kQ5zPBsaMsfnqxpg56Dr9DNWSAeif7Yhg1B9GvamhBYtTKIGsdrhLS1zUZEivthaI8S-IdgWFoNi7M78n_RQSlPMGXGpDKutqoPvsBU_LhqoSLtKxJ1nXqae6RfHw6lSLa2aVQ21FajWKr0qMouPsMUPlbURL6joWAAkT3n2DJvHR3RcvtfsjMRT0nwen-0I8AV9F-cGRljHALtYRg2VVC0_ckFwl9HrjG0k2xCrytFenQci-rx3JM2ekmSVyULLLRMtsjqF66jQCAWOP5hmb4PINnp1bd-O881I4O7Tol4BNoY1XpmRYfP4kP1JCg6UxvQglQrmLALyymg7pRJAjffbGBRjhDFEkUX33T8kEyQhDOX3ViAdBlzzx2zf4TBkwlduwIPIk4tQ4bJCzBDWx64jl3x45AoHW9-fcwNUHTXhgjJ5OEoLviJuiet8jFuk6_PHzcEDcLCarkYASnAj5bIIqEj-CPuE9ffHId2ZsxepqqK9hERbrAYMgMHRHsHDxsrA=w1068-h568-no"
                        height="450px" alt="..." class="w-100">
                      <div class="carousel-caption d-none d-sm-block  bg-dark mb-4">
                        <h5>Generación de facturación</h5>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://lh3.googleusercontent.com/L14cRhD4KYwdQv_xvEToNKyaaBiXpxw8aFS03z_etR5xJlpCbEX2zuTNYMAG7Gwx3BSjGC3AZUtN1yL7PoXDenwVjMXzPdEr4_eyyt4jDzxR5r0Gh3lS-Wh_CE_gp65qIuv19vkhauC9sLB1MBb58_uaWnfHgnu8m2MHCpdHCT6xybGw1xVfln3yxCeO3sv8wvXYTE2to01GVenaIGwinW_DPO4PToZ0V3pwQccAUo_os0D6yG7jpRbeAcs7SVFFTxMoFQjys47sAvoV_ybCwNZ__b2AKtZwI1dkrgVqNpSMBcJJTZ0o4BHTJuyTtvScLfMXiNW3zk0DFjqiM4ykqaK_-tbeCVSNCtbfOgvp_VtzSRxVboMfl0TJvRqbrDYCpkNIwDOBXxCo6Ya0UrPNZ58X_wWcGspSPgs-7J90lDHbVbsNDMY55pYJAqcjAugPfU7IuJREV9GRupI7dAOCwoSNDjPfSBL5Oy70erVbCGd_24IwKjdI2x8AoPH335CSm48IJyM2ecCzrqZ2oUkX39QcuAfGjnqiVknWKLS9N9Aut1SXRGfrtUs1Eiv2PSYlf8q3ff_c_G7F41_iu2nfgrKEVsmuEUHn2yH0l_Z_RdkV_ydN0RUYReLA7dRJNbmiMDJ2doBcSawWJuYnNGMYfGnXNFMZfw=w1010-h568-no"
                        height="450px" alt="..." class="w-100">
                      <div class="carousel-caption d-none d-sm-block  bg-dark mb-4">
                        <h5>Registro de pagos</h5>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img
                        src="https://lh3.googleusercontent.com/jhihjkzFjVSJFhSKgtihqIxDtJf2hMHDe9IEs3aBb1bbGdVmtjqat7Ztv9ZnCS8MpFA13H7DX803ekpAxzikgdmFCaZj9Y-mnf5f2zaHpNNAZRqAAiTM_kX8FTyoRkZBe-ImtczqT6qGbO99TPvMOTUgIuhwYtsAoWjum7NLA9hk1U_FPgeNDDDYmrt3xUvA1kZSd_wvWJ2TtBgMtozV5t-KZlEQcJPYT0Kb2UXgWNjSsEWGkhKJqtIx7vKfgEJfNvSlt-uWLAij0iQXfES5MoJ6VaufS3Bf60updY1bNpgpnRUMVinUl8ps7VRGnB4dXSz7r-uZoMsx564PyAalo97pyOcP7bav6CHQ5qXXyDaK1ryP6jjMfUsiCPFTeUiYXD2eab9isXQ04tp40rRU4LjJVKigIXY1D5cTjrcwb5QpRccv2K8ylHzRPtKRaMl_Op80MVm_Qfjj3yNngvlMeUkIoqdw6lkbqo5feBpmzYX-cZ-d-adEu9iPaNwXcazBRS_48RApq0khWyCAft09dmrynLFU1DR14SNDa2gpHYxGFVagypxZozoJWFJCeolTcIMBh5LGYemUbWbrIb9eaDJa_YcKL1hbHmHzsd7M2Ceh5NnWpxFvbnLnAW8H9FkDmybZCMlAdkWk-fHBbczU_O7kO8udLQ=w1010-h568-no"
                        height="450px" alt="..." class="w-100">
                      <div class="carousel-caption d-none d-sm-block bg-dark mb-4">
                        <h5>Modulo de reportes</h5>
                      </div>
                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>

                </div>

              </div>
              <hr>
              <h4>Modelo entidad relación</h4>
              <div class="d-flex justify-content-center">
                <iframe src="https://drive.google.com/file/d/1RAsoTehmJD4923onkFu-hWbLTqmoY3wF/preview" width="640"
                  height="480"></iframe>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                Implementación
              </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <h5>Diagrama de despliegue</h5>
                    <iframe src="https://drive.google.com/file/d/1YICJi53FAv4D7zK7WQK8-4dSSCXtiGJ4/preview" width="100%"
                      height="480"></iframe>
                  </div>
                  <div class="col-sm-6">
                    <h5>Manual del programador</h5>
                    <iframe src="https://drive.google.com/file/d/1koReJOc7dXRZuQc-1gjU8luYNHH7zgL4/preview" width="100%"
                      height="480"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                Pruebas
              </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Lorem ipsum..
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>