<div class="card mb-3">
  <div class="card-header">
    <legend class="text-center header" *ngIf="!editar else EditarTitulo">Agregar Empleado</legend>
    <ng-template #EditarTitulo>
      <legend class="text-center header">Editar Empleado</legend>
    </ng-template>
  </div>
  <div class="card-body">
    <form class="form" #usuarioForm="ngForm">
      <div class="form-row">
        <div class="form-group col-6">
          <label for="cedula">Cedula</label>
          <input type="text" required class="form-control" id="cedula" name="cedula" [(ngModel)]="empleado.cedula"
            digitOnly minLenght="10" maxlength="10" #cedula="ngModel">
          <div class="alert alert-danger py-0" *ngIf="cedula.invalid && (cedula.dirty || cedula.touched)">
            <div *ngIf="cedula.errors.required">
              <small>Cédula es requerida</small>
            </div>
            <div *ngIf="cedula.errors.minLength && cedula.errors.maxLength ">
              <small>Cédula no tiene la longitud requerida</small>
            </div>
          </div>
        </div>
        <div class="form-group col-6">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="empleado.nombre" required
            #nombre="ngModel">
          <div class="alert alert-danger py-0" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf="nombre.errors.required">
              <small>Nombre es requerido</small>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-6">
          <label for="apellido">Apellido</label>
          <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="empleado.apellido" required
            #apellido="ngModel">
          <div class="alert alert-danger py-0" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
            <div *ngIf="apellido.errors.required">
              <small>Apellido es requerido</small>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-6">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" name="fechaNacimiento" required
              [(ngModel)]="empleado.fechaNacimiento" placeholder="Fecha Nacimiento" [min]="minDate" [max]="maxDate"
              #fechan>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="form-row">
        <div class="from-group col-6">
          <label>Genero</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="generoRadios" id="masculino" value="M"
              [(ngModel)]="empleado.genero" checked>
            <label class="form-check-label" for="masculino">
              Masculino
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="generoRadios" id="femenino" value="F"
              [(ngModel)]="empleado.genero">
            <label class="form-check-label" for="femenino">
              Femenino
            </label>
          </div>
        </div>
      </div>

      <hr>
      <div class="form-row">
        <div class="form-group col-6">
          <label for="cedula">Tipo Usuario</label>
          <select class="form-control" name="role" [(ngModel)]="empleado.rol">

            <option *ngFor="let rol of roles" [ngValue]="rol">{{rol.nombre | slice:5}}</option>
          </select>
        </div>
        <div class="form-group col-6">
          <label for="nombre">Usuario</label>
          <input type="text" class="form-control" id="usuario" name="usuario" [(ngModel)]="empleado.usuario" required
            #usuario="ngModel">
          <div class="alert alert-danger py-0" *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)">
            <div *ngIf="usuario.errors.required">
              <small>Usuario es requerido</small>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-6">
          <label>Contraseña</label>
          <input type="password" name="contrasena" class="form-control" [(ngModel)]="empleado.contrasena"
            minlength="6" required #contrasena="ngModel" />
          <div class="alert alert-danger py-0" *ngIf="contrasena.invalid && (contrasena.dirty || contrasena.touched)">
            <div *ngIf="contrasena.errors.minlength">
              <small>La contraseña debe tener minimo 6 caracteres</small>
            </div>
            <div *ngIf="contrasena.errors.required">
              <small>Contraseña es requerida</small>
            </div>
          </div>
        </div>
        <div class="form-group col-6">
          <label>Confirmar contraseña</label>
          <input type="password" name="confirmPassword" (change)="verificarPass($event)" class="form-control"
            required/>
        </div>
      </div>
      <hr>

      <div class="form-row">
        <div class="form-group col-6">
          <label for="direccionResidencia">Dirección de Residencia</label>
          <input type="text" class="form-control" id="direccionResidencia" name="direccionResidencia"
            [(ngModel)]="empleado.direccionResidencia" required>
        </div>
        <div class="form-group col-6">
          <label for="lugarResidencia">Lugar de Residencia</label>
          <select [compareWith]="compararMunicipio" class="form-control" required [(ngModel)]="empleado.lugarResidencia"
            name="lugarResidencia">
            <option *ngFor="let municipio of municipios" [ngValue]="municipio">
              {{municipio.nombre}}</option>
          </select>
        </div>
      </div>
    </form>

  </div>
  <div class="card-footer">
    <div class="form-group">
      <div class="col-md-6">
        <button type="button" class="btn btn-primary" (click)='onSubmit()' *ngIf="!editar else elseBlock"
          [disabled]="!usuarioForm.form.valid">Guardar</button>

        <ng-template #elseBlock>
          <button type="button" class="btn btn-primary" (click)='update()'
            [disabled]="!usuarioForm.form.valid">Editar</button>
        </ng-template>
      </div>
    </div>
  </div>

</div>