<!--The content below is only a placeholder and can be replaced.-->
<div class="nav-side-menu">
  <div class="brand">Acueducto Moniquirá</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">
      <li>
        <a href="#">
          <i class="fa fa-dashboard fa-lg"></i> Inicio
        </a>
      </li>

      <li>
        <a routerLink="/suscriptoresform">
          <i class="fa fa-user fa-lg"></i> Agregar suscriptor
        </a>
      </li>

      <li>
        <a routerLink="/suscriptores">
          <i class="fa fa-users fa-lg"></i> Suscriptores
        </a>
      </li>

      <li>
        <a routerLink="/suscriptores">
          <i class="fa fa-users fa-lg"></i> Agrgar Tarifas
        </a>
      </li>

      <li>
        <a routerLink="/suscriptores">
          <i class="fa fa-users fa-lg"></i> Agregar Predios
        </a>
      </li>

    </ul>
  </div>
</div>
  <router-outlet></router-outlet>