<div class="card">
    <div class="card-header">
        Buscar facturas
    </div>
    <div class="card-body">
        <form action="">
            <div class="form-group row">
                <div class="col-sm-4">
                    <app-filter-facturas (changed)="filter($event)"></app-filter-facturas>
                </div>
                <div class="col-sm-4">
                    <mat-form-field class="ms-3">
                        <input matInput [matDatepicker]="dp" placeholder="Periodo Facturado" [formControl]="date">
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
                            (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
                        </mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-sm-4">
                    <label for="estadoFactura">Estado Facturas</label>
                    <select class="form-control" name="estadoFactura"
                        (change)="filterFacturasEstado($event.target.value)">
                        <option value="todo">---------Seleccionar-----------</option>
                        <option value="PP">Factura pendiente de pago</option>
                        <option value="PA">Facturas pagadas</option>
                        <option value="VE">Facturas vencidas</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
<mat-card>
    <div class="card" #content>
        <div class="card-header">
            <div class="row">
                <div class="col-sm-8">
                    <h3>Listado de facturas</h3>
                </div>
                <div class="col-sm-4">
                    <div class="d-flex flex-row-reverse">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            routerLink="/facturaForm">Generar Facturas</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div *ngIf="facturas.length == 0" class="alert alert-info">
                No hay facturas para mostrar en la base de datos!
            </div>
            <div class="table-responsive ">
                <table class="table table-bordered table-striped" *ngIf="facturas.length>0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Predio</th>
                            <th>Fecha Emisión</th>
                            <th>Periodo Facturado</th>
                            <th>Estado Factura</th>
                            <th>Valor Total</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let factura of facturasFiltradas | paginate: { itemsPerPage: 7, currentPage: pageActual}">
                            <td>{{factura.id}}</td>
                            <td>{{factura.predio.nombre}}</td>
                            <td>{{factura.fechaEmision}}</td>
                            <td>{{factura.periodoFacturado | date:"MM/yyyy"}}</td>
                            <td>{{factura.estadoFactura}}</td>
                            <td>{{factura.granTotal | currency}}</td>
                            <td><button class="btn btn-danger mx-2" type="button" (click)="eliminar(factura)">X</button>
                                <button class="btn btn-success" type="button" (click)="open(factura)"> Ver</button></td>
                        </tr>
                        <tr *ngIf="!facturasFiltradas || !facturasFiltradas.length">
                            <td colspan="6">No se encontraron facturas!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <pagination-controls (pageChange)="pageActual = $event" *ngIf="suscriptores?.length != 0">
                    </pagination-controls>
                </div>

                <div class="col-sm-3">
                    Número de facturas: {{ facturasFiltradas.length }}
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="downloadPDF()">Generar PDF</button>
            </div>
        </div>
    </div>
</mat-card>