<div class="card">
    <div class="card-header">
        Listado de facturas
    </div>
    <div class="card-body">
        <div *ngIf="facturas.length == 0" class="alert alert-info">
            No hay facturas para mostrar en la base de datos!
        </div>
        <table class="table table-bordered table-striped" *ngIf="facturas.length>0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha Emisión</th>
                    <th>Periodo Facturado</th>
                    <th>Estado Factura</th>
                    <th>Valor Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let factura of facturas | paginate: { itemsPerPage: 7, currentPage: pageActual}">
                    <td>{{factura.id}}</td>
                    <td>{{factura.fechaEmision}}</td>
                    <td>{{factura.periodoFacturado | date:"MM/yyyy"}}</td>
                    <td>{{factura.estadoFactura}}</td>
                    <td>{{factura.granTotal | currency}}</td>
                    <td><button class="btn btn-danger mx-2" type="button" (click)= "eliminar(factura)">X</button>
                    <button class="btn btn-success" type="button" (click)= "open(factura)"> Ver</button></td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageActual = $event" *ngIf="suscriptores?.length != 0"></pagination-controls>
    </div>
</div>