<div id="accordionOpcionesFactura">
  <div class="card-header" data-toggle="collapse" data-target="#cargarArchivoCardBody">
    <h5 class="text-primary">Cargar Archivo</h5>
  </div>
  <div id="cargarArchivoCardBody" class="collapse" data-parent="#accordionOpcionesFactura">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-6">
          <div class="input-group mb-3">
            <div class="custom-file">
              <input (change)="seleccionarArchivo($event)" type="file" class="custom-file-input"
                id="seleccionarArchivo">
              <label for="seleccionarArchivo" class="custom-file-label"
                for="seleccionarArchivo">{{archivoSeleccionado? archivoSeleccionado.name: 'Seleccionar Archivo' }}</label>
            </div>
            <div class="input-group-append">
              <button (click)="subirArchivo()" [disabled]="!archivoSeleccionado" class="btn btn-outline-secondary"
                type="button">Subir</button>
            </div>
          </div>

          <div *ngIf="progreso > 0" class="progress">
            <div class="progress-bar" role="progressbar" [ngStyle]="{'width': progreso +'%'}"
              attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
              {{progreso}}%
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="card-header" data-toggle="collapse" data-target="#generarFacturaIndividualCardBody">
    <h5 class="text-primary">Generar Factura Individual</h5>
  </div>
  <div id="generarFacturaIndividualCardBody" class="collapse" data-parent="#accordionOpcionesFactura">
    <div class="card-body">
      <div class="container m-3">
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-search fa-lg"></i>
            <mat-form-field class="example-full-width">
              <input type="text" placeholder="Seleccionar Predio" aria-label="Number" matInput [formControl]="myControl"
                [matAutocomplete]="auto" required>
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarPredio"
                (optionSelected)="seleccionarPredio($event)">
                <mat-option *ngFor="let predio of filteredOptions | async" [value]="predio">
                  {{predio.nombre}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-12">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]="'hybrid'"
            (mapClick)="placeMarker($event)" style="width:100%;height:300px">
            <agm-direction [origin]="origin" [destination]="destination" [travelMode]="'WALKING'">
            </agm-direction>
          </agm-map>
        </div>
      </div>

      <div class="card" *ngIf="factura.predio">

        <div class="card-body">
          <form>
            <div class="form-group row">
              <label for="nombre" class="col-form-label col-sm-2">Suscriptor</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" value="{{suscriptor.nombre}} {{suscriptor.apellido}}"
                  name="suscriptor" readonly>
              </div>
              <label for="nombre" class="col-form-label col-sm-2" style="text-align: right">Predio</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" [(ngModel)]="factura.predio.nombre" name="predio"
                  placeholder="Predio" readonly>
              </div>
            </div>

            <div class="form-group row">
              <label for="nombre" class="col-form-label col-sm-2">Número Catastral</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="numeroCatastral"
                  [(ngModel)]="factura.predio.numeroMatricula" placeholder="Número Catastral" readonly>
              </div>
            </div>

            <div class="form-group row">
              <label for="nombre" class="col-form-label col-sm-2">Lectura Actual</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="lecturaAnterior" [(ngModel)]="factura.lecturaAnterior"
                  placeholder="Lectura Anterior" readonly>
              </div>
            </div>
          </form>

          <div class="card">
            <div class="card-header">Descripción de factura</div>
            <div class="card-body">
              <form class="example-form">
                <i class="fa fa-search fa-lg"></i>
                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Seleccionar Tarifa" aria-label="Number" matInput
                    [formControl]="myItem" [matAutocomplete]="autoT">
                  <mat-autocomplete #autoT="matAutocomplete" [displayWith]="mostrarTarifa"
                    (optionSelected)="seleccionarTarifa($event)">
                    <mat-option *ngFor="let tarifa of tarifasFiltradas | async" [value]="tarifa">
                      {{tarifa.descripcion}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>

              <div class="alert alert-danger" *ngIf="myItem.invalid">
                La factura no puede estar vacía
              </div>

              <div class="alert alert-info my-4" *ngIf="factura.detallesFactura.length == 0">
                No hay detalles asignados para la factura, debe agregar almenos un detalle!
              </div>
              <div class="table-responsive">
                <table class="table table-bordered table-striped" *ngIf="factura.detallesFactura.length > 0">
                  <thead>
                    <tr>
                      <th>Descripción</th>
                      <th>Precio</th>
                      <th>Cantidad</th>
                      <th>Total</th>
                      <th>Eliminar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let detalle of factura.detallesFactura">
                      <td>{{detalle.tarifa.descripcion}}</td>
                      <td>{{detalle.tarifa.valorTarifa}}</td>
                      <td><input type="number" value="{{detalle.cantidad}}" class="form-control col-sm-4"
                          (change)="actualizarCantidad(detalle.tarifa.id, $event)"></td>
                      <td>{{detalle.calcularValor()  | currency}}</td>
                      <td><button class="btn btn-danger btn-sm" type="button"
                          (click)="eliminarItem(detalle.tarifa.id)">X</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="form-group row">
                <div class="col-sm-6">
                  <button class="btn btn-success" (click)="crear()">Generar Factura</button>
                </div>
                <label for="nombre" class="col-form-label col-sm-2" style="text-align: right">Total a Pagar</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" name="total" placeholder="Total"
                    [ngModel]="factura.calcularGranTotal()  | currency" readonly>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>